#build
build
app/build

#other
.DS_Store
node_modules
npm-debug.log
.npmrc
*launch.json
tsd-debug.log
debug.log

#coverage
coverage
coverage.zip
test-reports

# Don't commit changes to your local proxy.conf
proxy.conf.json
